<h1 class="header">Recent Posts</h1>
<div class="row">
  <div class="column column-2">
    <span>Left Column</span>
  </div>
  <div class="column column-8 post">
    <div class="post_view"></div>
  </div>
  <div class="column column-2">
  </div>
</div>
